.Rproj.user
.Rhistory
.RData
.Ruserdata
unsupervised-uav.tif
unsupervised-uav.tif.aux.xml
cloudfree-10year-composite/
.zip
.rar
maps/Feb_satellite.tif
maps/Aug_satellite.tif
UAV-LULC.gdb/
UAV-images/
downloaded-datasets/ALOS_dem/
downloaded-datasets/DEM/
.mxd
intermediate_rds/suli_cells.rds
intermediate_rds/suli_prediction.rds
intermediate_rds/
maps/Aug_satellite.tif.ovr